.site-main {
    font: $font__regular $font__size__m $font__main;
    line-height: $font__line-height-body;
    max-width: 100%;

    * {
        p {
            margin: 0px;
            word-break: break-word;
        }
    }

    // cite,
    blockquote {
        font-style: italic;
        border-left: 0.25em solid $color__background-hr;
        border-radius: 10em 0 0 15em/ 7em 14em 29em 7em;
        margin: 0 1.5em 1em;
        padding: 0.5em 1em;
    }
}

// Settings for mobile screens
@media (max-width: 780px) {
    .site-main {        
        padding: $mobile-padding;

        * {
            display: flex;
            flex-flow: column wrap;
            gap: $gap-mobile;
            justify-content: center;

            p {
                max-width: 75ch;
            }
        }
    }
}