.site-header {
    flex-flow: row;
    flex: 1 1 0px;
    width: 100%;
    gap: 1em;

    .site-branding {
        justify-self: flex-end;
        display: flex;
        flex-flow: column;
        width: 100%;

        .site-title a {
            text-decoration: none;
            color: $color__text-screen;
            font: $font__black $font__size__header $font__headings;

            &:active,
            &:visited {
                color: $color__text-screen;
            }
        }
    }
}

@import "hero-image";
@import "custom-logo";