.hero-image {
    max-width: 50%;
    height: auto;
    position: relative;

    img {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        margin: auto 0 auto auto;
    }
}

@media (max-width: 780px) {
    .hero-image {
        max-width: 100%;
        z-index: 5;
        opacity: .5;

        img {
            margin: auto;
            width: 100%;
        }
    }
}