// Shared settings for all navigation menus.
nav ul {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 0px;
    width: 100%;
    list-style: none;
}

/* Main Navigation
--------------------------------------------- */
@import "main";

/* Social Navigation
--------------------------------------------- */
@import "social";

/* Quick Navigation
--------------------------------------------- */
@import "quick-nav";

/* Galleries
--------------------------------------------- */
@import "footer";