// Shared settings for all mobile navigation menus.
nav ul {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 0px;
    width: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    line-height: $font__line-height-nav;

    ul {
        display: none;
        list-style: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $color__accent-main-hover;
        border-left: inset 2px $color__accent-main;
        border-bottom: inset 2px $color__accent-main;
        width: 20ch;
        @include box-shadow;

        li {
            padding-left: 0.5em;
            width: 100%;

            a {
                width: 100%;
            }

            ul {
                display: none;
                position: absolute;
                top: 0;
                left: 100%;
                border-left: outset 0.1em $color__accent-main;
                border-bottom: outset 0.1em $color__accent-main;
                width: 20ch;

                li {
                    padding-left: 0.5em;
                    width: 100%;

                    a {
                        width: 100%;
                    }

                    &:focus > ul,
                    &:active > ul,
                    &:hover > ul {
                        display: flex;
                    }
                }
            }
        }
    }

    li {
        position: relative;
        padding: 0.4em 0.5em;

        a {
            position: relative;
            font: $font__black $font__size__m $font__headings;
            color: $color__text-nav-link;
            text-transform: uppercase;
            text-decoration: none;
            @include text-shadow;
            width: 100%;
        }

        &:focus > ul,
        &:active > ul,
        &:hover > ul {
            display: flex;
        }
    }
}

// Topbar positioning and background color.
.topbar {
    align-content: center;
    position: fixed;
    top: 45px;
    left: 0;
    height: 2rem;
    width: 100%;
    background-color: $color__accent-main;
    box-shadow: $color__accent-shadow;
    z-index: 400;
}

/* Menu toggle */
.menu-toggle {
    display: none;
}

/* Main Navigation
--------------------------------------------- */
@import "main";

/* Social Navigation
--------------------------------------------- */
@import "social";

/* Quick Navigation
--------------------------------------------- */
@import "quick-nav";

/* Galleries
--------------------------------------------- */
@import "footer";