// Shared settings for all mobile navigation menus.
nav ul {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 0px;
    width: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    line-height: $font__line-height-nav;

    ul {
        display: none;
        list-style: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        @include nav-background-dropdown;
        width: 20ch;
        @include box-shadow;

        li {
            padding-left: 0.5em;
            width: 100%;

            a {
                width: 100%;
            }

            ul {
                display: none;
                position: absolute;
                top: 0;
                left: -20ch;
                @include nav-background-dropdown;
                width: 20ch;
                z-index: 1000;

                li {
                    padding-left: 0.5em;
                    width: 100%;

                    a {
                        width: 100%;
                    }

                    &:focus > ul,
                    &:active > ul,
                    &:hover > ul {
                        display: flex;
                    }
                }
            }
        }
    }

    li {
        position: relative;
        padding: 0.4em 0.5em;

        a {
            position: relative;
            font: $font__black $font__size__m $font__headings;
            color: $color__text-nav-link;
            text-transform: uppercase;
            text-decoration: none;
            width: 100%;
        }

        &:focus > ul,
        &:active > ul,
        &:hover > ul {
            display: flex;
        }
    }
}

// Topbar styling
.topbar {
    align-content: center;
    position: fixed;
    height: 2rem;
    line-height: $font__line-height-nav;
    width: 100%;
    outline: 2px solid $color__border-nav-b;
    @include nav-background;
    @include box-shadow;
    z-index: 1000;
}

/* Menu toggle */
.menu-toggle {
    display: none;
}

/* Main Navigation
--------------------------------------------- */
@import "main";

/* Social Navigation
--------------------------------------------- */
@import "social";

/* Quick Navigation
--------------------------------------------- */
@import "quick-nav";

/* Footer
--------------------------------------------- */
@import "footer";

/* Galleries
--------------------------------------------- */
@import "post";