body {
    position: relative; // Allows topbar navigation to be sticky.
    background: $color__background-body; // Fallback for when there is no custom background color defined.

    font-size: $font__size__base-desk; // Base font size for desktop
}

@media (max-width: 780px) {
    body {
        font-size: $font__size__base-mob;
    }
}