ul,
ol {
	margin: 0 0 $margin__bottom-content;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	padding-left: 4ch;
	margin-bottom: 0;
}

dt {
	font-weight: $font__black;
}

dd {
	padding-left: 4ch;
}