.is-flex {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0px;
}

// Changes .site from grid to flex layout on small screens
@media (max-width: 780px) {
    .site {
        display: flex;
        flex-flow: column wrap;
    }
}

// Responsive Header layout for desktop screens

@media (min-width: 781px) {    
    .site-header {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 0px;
        align-content: center;
        flex: 1 1 0px;
        // min-height: 25vmax;
        gap: 1em;
    }
}