/* Grid layout with widget sidebar being displayed on the right. */

@media (min-width: 781px) {
    .site {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 2em auto;
        grid-template-areas: 
            "topbar topbar topbar"
            ". header ."
            ". main sidebar"
            "footer footer footer";
        gap: $gap;
    
        .topbar {
            grid-area: topbar;
        }
    
        .site-header {
            grid-area: header;
        }
    
        .site-main {
            grid-area: main;
            max-width: 100%;
            overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */

            * {
                max-width: 100%;        
            }

            // & > * {
            //     margin-bottom: $margin__bottom-content;
            // }
        }
    
        .widget-area {
            grid-area: sidebar;
        }
    
        .site-footer {
            grid-area: footer;
        }
    }
}

// Grid Header settings for smaller screens

@media (max-width: 780px) {
   .site-header {
       display: grid;
       grid-template-columns: auto 1fr;
       grid-template-rows: auto;
       gap: $gap-mobile;
   }

   .hero-image {       
        grid-column: 1/3;
        grid-row: 1/3;
   }

   .site-branding {
        grid-column: 1/3;
        grid-row: 1/3;
    }
}