/* Grid layout with widget sidebar being displayed on the right. */

@media (min-width: 781px) {
    .site {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 2em auto;
        grid-template-areas: 
            "topbar topbar topbar"
            "header header header"
            ". main sidebar"
            "footer footer footer";
        gap: $gap;
    
        .topbar {
            grid-area: topbar;
        }
    
        .site-header {
            grid-area: header;
        }
    
        .site-main {
            grid-area: main;
            overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
        }
    
        .widget-area {
            grid-area: sidebar;
        }
    
        .site-footer {
            grid-area: footer;
        }
    }
}

// Grid Header settings for smaller screens

@media (max-width: 780px) {
   .site-header {
       display: grid;
       grid-template-columns: auto 1fr;
       grid-template-rows: auto;
       gap: $gap-mobile;
   }
}